@model QuoteBook.Services.InspiratorService.Models.InspiratorCreateEditServiceModel;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <h2>Edit</h2>
        <h4>Inspirator</h4>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="btn btn-dropbox" asp-for="Image" style="width:102px;height:32px;">
                    <input asp-for="Image" type="file" accept=".png, .jpg, .jpeg" style="display:none"
                           onchange="$('#upload-file-info').html(this.files[0].name)">
                    <span class="glyphicon glyphicon-open-file" style="font-size:20px;color:white"></span>
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
